<template>
  <input type="file" multiple @input="handleFile">
  <table>
    <tr>
      <th>FileName</th>
      <th>Is Image</th>
      <th>Is Pdf</th>
      <th>Open Blob</th>
      <th>Open Base64</th>
      <th>Open Alternative image</th>
      <th>Download</th>
    </tr>
    <template v-for="(file, key) in files" :key="key">
    <tr v-if="stats[key]">
      <td>{{file.name}}</td>
      <td>{{stats[key].isImage}}</td>
      <td>{{stats[key].isPdf}}</td>
      <td><button @click="openFileBlob(stats[key].blob)">Open Blob</button></td>
      <td><button @click="openFileBase64(stats[key].base64, file.type)">Open Base64</button></td>
      <td>
        <button v-if="stats[key].resizedBase64" @click="openFileBase64(stats[key].resizedBase64, file.type)">Open Resized Base64</button>
        <button v-if="stats[key].base64PdfVersion" @click="openFileBase64(stats[key].base64PdfVersion, 'application/pdf')">Open PDF Base64</button>
      </td>
      <td><button @click="downloadBlob(stats[key].blob)">Download</button></td>
    </tr>
    </template>
  </table>
  <hr>
  <button @click="downloadLocalFile">Download local file</button>
</template>

<script>
import fileUtils from '../package_src/index.js';
import {resizeImage} from '../package_src/index.js';
export default {
  name: 'App',
  data() {
    return {
      files: [],
      stats: {}
    }
  },

  methods: {
    async handleFile(e) {
      this.files = Array.from(e.target.files);
      console.log(await fileUtils.handleFiles(this.files))
      //for key in files
      for(let key in this.files){
        let isImage = await fileUtils.isImage(this.files[key]);
        let isPdf = await fileUtils.isPdf(this.files[key]);
        let base64 = await fileUtils.inputFileToBase64(this.files[key]);
        let blob = await fileUtils.base64ToBlob(base64);

        let resizedBase64 = null;
        let base64PdfVersion = null;
        if(isImage) {
          resizedBase64 = await resizeImage({
            file: this.files[key],
            maxWidth: 200,
            maxHeigth: 1125
          })

          let pdfVersion = await fileUtils.imageToPDF(resizedBase64);
          base64PdfVersion = await fileUtils.inputFileToBase64(pdfVersion);
        }

        this.stats[key] = {isImage: isImage, isPdf: isPdf, blob: blob, base64: base64, resizedBase64: resizedBase64, base64PdfVersion: base64PdfVersion};
      }
    },

    openFileBlob(blob) {
      fileUtils.openFileBlob(blob)
    },

    openFileBase64(base64, type) {
      fileUtils.openFileBase64(base64, type)
    },

    downloadBlob(blob) {
      fileUtils.downloadBlob(blob, 'test')
    },

    async downloadLocalFile() {
      let fileBlob = await fileUtils.localFileToBlob(
        "/favicon.ico"
      );
      this.downloadBlob(fileBlob)
    }
  },
}
</script>

<style>
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
</style>
